@model LiquorInventory.Models.Cocktail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cocktail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cocktailName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cocktailName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cocktailPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cocktailPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cocktailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
