@model IEnumerable<LiquorInventory.Models.MonthlyCost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentInventoryCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousInventoryCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlySales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PourCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentInventoryCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousInventoryCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PourCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MonthlyCostId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MonthlyCostId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MonthlyCostId })
        </td>
    </tr>
}

</table>
